
/*NAvbar*/
div.navbar {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li.user {
  float: right;
  color: white;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

/*Home*/
.cards {
  padding: 10px;
  margin: 15px;
  background: darkgrey;
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

/*.cards div{*/
/*  margin-bottom: 10px;*/
/*}*/

p {

}

/*Ideas*/

div.idea {
  margin: 15px;
  display: block;
  background-color: pink;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px 10px 10px 10px;
  /*max-width: 600px;*/
}

div.idea input, textarea {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 95%;
}

textarea.idea-field {
  height: 100px;
}

div.idea span {
  display: block;
  margin: auto;
  padding-left: 20px;
}

div.idea button {
  margin-left: 20px;
  width: 100px;
  margin-bottom: 10px;
}

/*Buttons*/
button.reg-button {
  background-color: cadetblue;
  border-radius: 5px 5px 5px 5px;
  border: none;
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
  margin-right: 5px;
}

/*VOTE*/
/*Tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  border: 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*buttons*/
div.vote  {
  padding: 0;
  margin: 0;
  width: fit-content;
  cursor: pointer;
}
